---
interface Props {
  origin?: boolean;
}

const { origin = "https://fancade.club" } = Astro.props;
---

We are <strong>not</strong> affiliated with <strong>Fancade</strong>. See <a
  href=`${origin}/disclaimer`>our disclaimer</a
>. For inquiries, please <a href=`${origin}/contact`>contact us</a>.
