---

---

<footer>
  <div class="content">
    <slot />
  </div>
</footer>

<style>
  footer {
    position: sticky;
    bottom: 0em;
    background-color: white;
    box-shadow: 0 -8px 6px -8px black;
  }
  .content {
    width: 100%;
    max-width: 800px;
    padding: 1em 1em;
    text-align: center;
    margin: auto;
  }
</style>
